{% include 'admin/admin.html.twig' %}
{% include 'admin/navbar.html.twig' %}
{% include 'admin/sidebar.html.twig' %}
{% block body %}
    <div class="wrapper" >
    <div class="content-wrapper">
    <h1 align="center"> Modifier une catégorie </h1>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-10">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <br>
                            <div class="card-body pad">

                                {{ form (form,{'attr':{'novalidate' : 'novalidate'}}) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



{% endblock %}